.ant-card-body {
  padding: 10px;
}

.ticket {
  margin: 0.5rem 0;
}

.ticket p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.ticket__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.ticket__price__tag {
  color: #2196f3;
  font-size: 24px;
  font-weight: 600;
}

.ticket__price__img {
  width: 110px;
  height: 40px;
  object-fit: contain;
}

.ticket__flights {
  display: flex;
  justify-content: space-between;
}

.ticket__flights__header {
  color: #a0b0b9;
  font-weight: 600;
  font-size: 12px;
}

.ticket__flights__main {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 14px;
}

.ticket__flights__stops{
  width: 90px;
}
.ticket__flights__in-flight{
  width: 65px;
}
.ticket__flights__places{
  width: 90px;
}